.article__preview_image {
    max-height: 100%;
    max-width: 100%;
}

.article__add_container {
    margin-left: 20px;
    border-width: 2px;
    width: 150px;
    height: 150px;
    border-color: #aaa;
    border-style: dashed;
    border-radius: 0px;
}

.article__add {
    position: relative;
    height: 100%;
    width: 100%;
}

.article__label {
    padding: 6px 0px
}

.article__add_sign {
    position: absolute;
    left: 39%;
    top: 22%;
    font-size: 60px;
    color: #5B88CC;
}

.article__add_overlay {
    position: absolute;
    width: 100%;
    height: 100;
    top:0;
    left:0;
    background-color: rgba(255,255,255,0.4);
    z-index: 1;
}

.article__preview_remove {
    position: absolute;
    right: 8px;
    top: -6px;
    font-size: 15px;
    color: #A12925;
    border: 2px solid white;
    border-radius: 15px;
    padding: 3px;
    background-color: rgba(243,247,255,0.8);
}

.article__preview_remove:hover {
    font-size: 30px;
}

.article__image {
	height: 150px;
    width: auto;
}

.article__container {
	height: 100px;
	padding: 3px !important;
}

.article__container > .article__title{
	font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
} 

.article__container > .article__price{
	float: right;
    color: #337ab7;
    font-size: 15px;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
}

.article__button {
    width: 100%;
    border-radius: 0;
    font-weight: bold;
    color: #337ab7;
    margin-right: 20px;
}

.article__button:hover {
    color: white;
    font-weight: bold;
    background-color: #337ab7;
    border-color: #adadad;
}

.article__category__select {
    border-radius: 0;
    margin-left: 20px;
}

.article__container > .article__separator {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 23px;
    width: 100%;
}


.placeholder__add_stock {
	height: 200px;
	background-color: #337ab7;
	line-height: 185px;
    text-align: center;
}

.placeholder__add_stock > .add_stock_glyphicon {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 30px;
    color: white;
}

.placeholder__add_stock > .add_stock_text {
	display: block;
    position: absolute;
    left: 122px;
    top: 35px;
    color: white;
}

.placeholder__image {
	height: 200px;
	background-color: lightgrey;
}

.placeholder__text {
	height: 50px;
}

.stock__header {
    background-color: #6f5499;
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}

.stock__button {
    border-radius: 0;
    font-weight: bold;
    color: #337ab7;
    margin-right: 20px;
    width: 150px;
}

.stock__button:hover {
    color: white;
    font-weight: bold;
    background-color: #337ab7;
    border-color: #adadad;
}

.stock__input {
    margin-left: 20px;
    border-radius: 0;
}

.stock__container {
    border: 1px solid #adadad; 
}